* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

html,
body {
    height: 100%;
    background: $color-white;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 650;
  line-height: 1.35;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    margin: 2.4rem auto;
    max-width: 72rem;
    padding: 0 1.5rem;
    min-height: 100%;
    position: relative;
}

pre.prettyprint {
    padding-left: 23px;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0.8rem 0;
    padding: 0.4rem;
    overflow: auto;
    span {
        font-size: 1.4rem;
        line-height: 160%;
    }
}

.fixed {
    position: fixed;
    top: 0;
}

.hide {
  opacity:0;
}