<footer class="footer">
    <%- partial('_partial/social-list') %>
    <div class="footer-content">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br><br>
      Theme <a href="https://github.com/kinzee/hexo-theme-summer.git" target="_blank">summer</a>, Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>